{% if app.session.flashBag.has('danger') %}
    <div class="alert alert-danger">
        {{ app.session.flashBag.get('danger')[0] }}
    </div>
{% endif %}

<form method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" required>
    <button type="submit">Login</button>
</form>